body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}
.btn-primary{
  background-color: var(--btnC);
}
/* position start */
.side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #1A2226;
    transition: 0.5s;
  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
  }

  .active-nav {
    margin-left: 0;
  }
 
  /* position end */

  .my-container {
    transition: 0.4s;
  }
  
  
  
  /* for main section */
  .active-cont {
    margin-left: 180px;
  }
  
  #menu-btn {
    background-color: #12181b;
    color: #fff;
    margin-left: -62px;
  }
  
  .my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
  }
  a:hover{
    text-decoration: none;
  }