:root {
    --btnC: #007BFF;
    
  }
#AdminTitle{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    padding-top: 1%;
  }
body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}



label {
    margin-bottom: 0px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


#container{
    margin-top: 2%; 
    background-color: #1A2226;
}
  